# Exploratory Data Analysis

In [1]:
#load the libraries
import pandas as pd
import numpy as np

In [2]:
#read data
data = pd.read_csv("test.csv")
data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban

In [6]:
#data structure

data.shape

(367, 12)

In [8]:
#data type
data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [10]:
#Count of duplicated rows
data[data.duplicated()].shape

(0, 12)

In [11]:
#Print the duplicated rows
data[data.duplicated()]

Empty DataFrame
Columns: [Loan_ID, Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area]
Index: []

In [12]:
data.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [13]:
##Filling null values with mode
data['Gender'].fillna(data['Gender'].mode()[0], inplace=True)
data['LoanAmount'].fillna(data['LoanAmount'].mode()[0], inplace=True)
data['Dependents'].fillna(data['Dependents'].mode()[0], inplace=True)
data['Self_Employed'].fillna(data['Self_Employed'].mode()[0], inplace=True)
data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0], inplace=True)
data['Credit_History'].fillna(data['Credit_History'].mode()[0], inplace=True)

In [14]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [16]:
#label encoder for converting categories to binary values
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data.Gender= le.fit_transform(data.Gender.values)
data.Married= le.fit_transform(data.Married.values)
data.Education= le.fit_transform(data.Education.values)
data.Property_Area= le.fit_transform(data.Property_Area.values)

In [17]:
##we will create the dataset without "Loan_ID"
data  = data.drop(['Loan_ID'],axis=1)

In [18]:
data.describe(include='all')

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
count,367.000000,367.000000,367,367.000000,367,367.000000,367.000000,367.000000,367.000000,367.000000,367.000000
unique,NaN,NaN,4,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,0,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,210,NaN,330,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.809264,0.634877,NaN,0.228883,NaN,4805.599455,1569.577657,136.321526,342.822888,0.839237,1.079019
std,0.393417,0.482122,NaN,0.420687,NaN,4910.685399,2334.232099,60.967295,64.658402,0.367814,0.824337
min,0.000000,0.000000,NaN,0.000000,NaN,0.000000,0.000000,28.000000,6.000000,0.000000,0.000000
25%,1.000000,0.000000,NaN,0.000000,NaN,2864.000000,0.000000,101.000000,360.000000,1.000000,0.000000
50%,1.000000,1.000000,NaN,0.000000,NaN,3786.000000,1025.000000,126.000000,360.000000,1.000000,1.000000
75%,1.000000,1.000000,NaN,0.000000,NaN,5060.000000,2430.500000,157.500000,360.000000,1.000000,2.000000
max,1.000000,1.000000,NaN,1.000000,NaN,72529.000000,24000.000000,550.000000,480.000000,1.000000,2.000000